<template name="ScreensTab">
	<div class="page-container container">
		<div class="row">
			<div class="col-md-12" id="content">
				<div class="row" id="title_row">
					<div class="col-md-12">
						<div id="page_menu" class="pull-right">
						</div>
					</div>
				</div>
			</div>
		</div>
		<h1>Screens template</h1>
		<div class="row">
			{{#each screens}}
				{{>screen}}
			{{/each}}
			<div class="col-sm-6">
				<button id="add-screen">Add</button>
			</div>
			<div class="col-sm-6">
				<button id="remove-screen">Remove</button>
			</div>
		</div>
	</div>
</template>